<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="UCut-CNC - Corte y grabado de maderas con tecnología CNC - Grabado Laser - Diseño CAD">
    <meta property="og:type" content="website">
    <meta property="og:title" content="UCut - Corte y grabado en madera.">
    <meta property="og:description" content="UCut - Realizamos cortes y grabados en madera con tecnología CNC - Transformamos la madera en arte.">
    <meta property="og:image:url" content="https://ucut-cnc.netlify.app/img/logo-og.png">
    <meta property="og:image" content="https://ucut-cnc.netlify.app/img/logo-og.png">
    <meta property="og:url" content="https://ucut-cnc.netlify.app/">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="img/logo-og.png">

    <!-- Iconify -->
    <script src="https://code.iconify.design/2/2.0.4/iconify.min.js"></script>

    <!-- Google Fonts - Roboto -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;600;800&display=swap"
        rel="stylesheet">

    <!-- Google Fonts - Merriweather Sans -->
    <!-- font-family: 'Merriweather Sans', sans-serif; -->
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">

    <!-- <link rel="stylesheet" href="css/reset.css"> -->
    <link rel="stylesheet" href="css/background-animation.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/scroll-button.css">
    <link rel="stylesheet" href="css/card-flip.css">
    <link rel="stylesheet" href="css/galery.css">
    <link rel="stylesheet" href="css/form.css">
    <title>UCut - Corte y grabado en madera</title>

</head>