/* *{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
} */

/* body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */

.img-box{
    width: 200px;
    height: 200px;
    border-radius: 50%; 
    /* border: 3px solid #AA8164; */
    /* border: 1px solid black; */
    position: relative;
}

.img-box .front, .img-box .back{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%; 
    background-color: white;
    backface-visibility: hidden;
    cursor: pointer;
    /* border: 1px solid black; */
    transition: transform .4s;
}

.img-box .back{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid #AA8164;
    transform: perspective(800px) rotateY(-180deg);
}

.img-box .back p span{
    font-weight: 800;
    font-size: 18px;
    font-family: 'Merriweather', serif;
    color: rgb(61, 61, 61);
}

.img-box .back p{
    margin: 10px 20px;
    font-size: 16px;
    text-align: center;
}

.img-box .front img{
    width: 100%;
    height: 100%;
    border-radius: 50%; 
    /* border-radius: 0 0 20px 20px; */
    position: absolute;
}

.img-box .back img{
    border-radius: 50%; 
}

.img-box:hover .front{
    /* box-shadow: 0 5px 30px rgba(163, 61, 21, 0.200); */

    transform: perspective(800px) rotateY(180deg);
}

.img-box:hover .back{
    /* border-radius:20px 20px 0 0; */
    /* box-shadow: 0 5px 30px rgba(163, 61, 21, 0.200); */

    transform: perspective(800px) rotateX(0);
}