#button-up {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 8px; /* Place the button 30px from the right */
    z-index: 2; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #703623; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 5px; /* Some padding */
    border-radius: 50%; /* Rounded corners */
  /* Increase font size */
    /* font-size: 20px; */
  }
  
  #button-up:hover {
    background-color: #AA8164; /* Add a dark-grey background on hover */
  }

  #button-up{
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 5px;
  }